.type-2{position: relative;
z-index: 2;
background-color: #ffffff;}
.type-2 .container {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
  position: relative;
}
.type-2 .container .khung {
  width: 1100px;
  height: 536px;
  position: relative;
}
.type-2 .container .khung .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.type-2 .container .khung .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo {
  padding: 0 5px;
  margin-bottom: 10px;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner {
  position: relative;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .hinhanh .new {
  top: 30px;
  right: 0;
  position: absolute;
  background: white;
  text-align: center;
  padding-right: 21px;
  padding-left: 15px;
  text-transform: lowercase;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .hinhanh .sale {
  top: 30px;
  right: 0;
  position: absolute;
  color: white;
  background: black;
  text-align: center;
  padding-right: 16px;
  padding-left: 16px;
  text-transform: lowercase;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .hinhanh img {
  width: 100%;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text {
  position: absolute;
  top: 86%;
  left: 35%;
  overflow: hidden;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text .in-text {
  opacity: 1;
  transform: translateY(101%);
  overflow: hidden;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text .in-text .holder {
  position: relative;
  float: left;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text .in-text .holder a {
  position: relative;
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 4px 15px 0;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  line-height: 25px;
  text-transform: lowercase;
  letter-spacing: .1em;
  text-decoration: none;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text .in-text .holder a:hover {
  text-decoration: none;
  color: darkgray;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text .in-text .wishlist {
  right: 17px;
  float: left;
  padding-left: 3px;
  padding-right: 3px;
  background: gray;
  height: 26px;
  font-size: 18px;
  text-align: center;
  padding-top: 8px;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text .in-text .wishlist a {
  color: white;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text .in-text .wishlist a:hover {
  color: darkgray;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .title1 {
  margin: 0;
  float: left;
  font-size: 15px;
  text-transform: lowercase;
  line-height: 1.4375em;
  font-weight: bold;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .title1 a {
  color: #000;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .title1 a:hover {
  text-decoration: none;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .price {
  float: right;
  font-size: 12px;
  color: #949494;
  padding-top: 8px;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .price .giamgia {
  text-decoration: line-through;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .add-to-cart {
  width: 30%;
  margin: 0;
  text-align: right;
  float: left;
  height: 15px;
  opacity: 0;
  position: absolute;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .add-to-cart a {
  color: #949494;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  text-transform: lowercase;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .add-to-cart i {
  font-size: 12px;
  padding-left: 8px;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .category {
  padding: 3px 0 0;
  text-align: left;
  clear: both;
  line-height: 1;
  margin: 0;
  text-transform: lowercase;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo .title .category a {
  font-size: 12px;
  text-decoration: none;
  color: #949494;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo:hover .text .out-text .in-text {
  overflow: hidden;
  opacity: 1;
  transform: translate(0,-2%);
  height: 100%;
  transition: 0.4s ease;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo:hover .title .price-lon .price {
  opacity: 0;
  transform: translateX(61px);
  transition: 0.4s ease;
}
.type-2 .container .khung .swiper-container .swiper-slide .vo:hover .title .price-lon .add-to-cart {
  opacity: 1;
  transform: translateX(233px);
  transition: 0.4s ease;
}
.type-2 .container .khung .swiper-container .nut .swiper-button-next {
  top: 15%;
  right: 0.5%;
  background-image: none;
  font-size: 24px;
  color: #b6b6b6;
  transition: 0.4s;
  width: 9px;
}
.type-2 .container .khung .swiper-container .nut .swiper-button-next:after {
  content: '';
}
.type-2 .container .khung .swiper-container .nut .swiper-button-next:hover {
  color: #000;
}
.type-2 .container .khung .swiper-container .nut .swiper-button-prev {
  top: 15%;
  right: 2%;
  left: auto;
  background-image: none;
  font-size: 24px;
  color: #b6b6b6;
  transition: 0.4s;
  width: 9px;
}
.type-2 .container .khung .swiper-container .nut .swiper-button-prev:after {
  content: '';
}
.type-2 .container .khung .swiper-container .nut .swiper-button-prev:hover {
  color: #000;
}
.type-2 .container .khung .thongtin {
  z-index: 1;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  top: 0;
}
.type-2 .container .khung .thongtin .lopcontent {
  position: relative;
  background-color: white;
  width: 70%;
  height: 100%;
  text-align: center;
  margin-left: 13.5%;
}
.type-2 .container .khung .thongtin .lopcontent .chuaanh {
  height: 100%;
  width: 50%;
  float: left;
}
.type-2 .container .khung .thongtin .lopcontent .chuaanh img {
  width: 100%;
  height: max-content;
}
.type-2 .container .khung .thongtin .lopcontent .chuaanh .new1 {
  background-color: #fff;
  position: absolute;
  top: 11%;
  left: 42%;
  padding: 3px 22px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  text-transform: lowercase;
}
.type-2 .container .khung .thongtin .lopcontent .chuaanh .sale1 {
  background-color: #000;
  position: absolute;
  top: 11%;
  left: 41.5%;
  padding: 3px 22px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  text-transform: lowercase;
  color: #fff;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc {
  height: 100%;
  width: 50%;
  float: left;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung {
  text-align: left;
  margin-top: 100px;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row {
  margin: 7%;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row h2 {
  text-transform: lowercase;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 32px;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .rating {
  margin-bottom: 16px;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .giatien1 {
  margin: 0 0 53px;
  line-height: 1;
  color: #000;
  font-size: 24px;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .giatien1 .giamgia1 {
  text-decoration: line-through;
  font-size: 19px;
  color: #949494;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 h4 {
  text-transform: lowercase;
  top: 57px;
  font-weight: bolder;
  position: relative;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .comment {
  text-align: -webkit-left;
  font-size: 15px;
  outline: 0;
  margin: 0 0 47px;
  width: 100%;
  color: #949494;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .cart .cangui {
  width: 50%;
  border: 1px solid darkgrey;
  padding: 11px 0;
  margin-right: 5px;
  float: left;
  color: #949494;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .cart .cangui .d {
  width: 22px;
  border: none;
  text-align: center;
  margin: -22px 0;
  margin-left: 99px;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .cart .cangui .Quantity {
  margin-right: 39px;
  margin-left: 5px;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .cart .cangui .left a {
  color: #949494;
  text-decoration: none;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .cart .cangui .right a {
  color: #949494;
  left: 130px;
  position: relative;
  top: 0;
  text-decoration: none;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .cart .add {
  padding: 12px 54px;
  color: #fff;
  background-color: black;
  border: 1px;
  text-transform: lowercase;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .cart .add:hover {
  background-color: #2f2f2f;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .add-wish {
  margin-top: 25%;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .add-wish .heart {
  color: black;
}
.type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .add-wish .Wishlist {
  text-decoration: none;
  text-transform: lowercase;
  color: darkgrey;
}
.type-2 .container .khung .thongtin .closebtn {
  position: absolute;
  top: 72px;
  right: 45px;
  font-size: 25px;
  cursor: pointer;
  color: black;
}
.type-2 .container .khung .thongtin .closebtn:hover {
  color: #ccc;
}
@media only screen and (max-width: 800px) {
  .type-2 .container .khung {
    width: 400px;
    height: auto;
    position: relative;
  }
  .type-2 .container .khung .swiper-container {
    width: 100%;
    margin-left: 41px;
    margin-right: 51px;
    margin-top: 125px;
    margin-bottom: 80px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide {
    width: 287px;
    margin-top: 20px;
    font-size: 13px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text {
    top: 85% !important;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text {
    margin-top: 12px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .title {
    font-size: 13px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .add-to-cart {
    width: 68%;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .price {
    padding-top: 4px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo:hover .title .price-lon .add-to-cart {
    opacity: 1;
    transform: translateX(122px);
    transition: 0.4s ease;
  }
  .type-2 .container .khung .swiper-container .nut {
    position: absolute;
    right: 0;
    top: 1px;
  }
  .type-2 .container .khung .swiper-container .nut .swiper-button-next {
    top: 7px;
    font-size: 25px;
    right: 6px;
  }
  .type-2 .container .khung .swiper-container .nut .swiper-button-prev {
    top: 7px;
    font-size: 25px;
    right: 21px;
  }
  .type-2 .container .khung .thongtin {
    font-size: 13px;
  }
  .type-2 .container .khung .thongtin .lopcontent {
    height: 90% !important;
    top: 25px;
    background-size: cover;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuaanh {
    width: 100% !important;
    height: 40% !important;
    background-size: cover;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuaanh img {
    width: 100%;
    height: 100% !important;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuaanh .new1 {
    right: 1px !important;
    left: 81% !important;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuaanh .sale1 {
    right: 0;
    left: 81% !important;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc {
    width: 100% !important;
    height: 50% !important;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .closebtn {
    top: -2px !important;
    right: 2px !important;
    font-size: 17px !important;
    opacity: 0;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .closebtn:hover {
    opacity: 1;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row {
    margin: 2% !important;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row h2 {
    font-size: 20px !important;
    margin: 0px !important;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .giatien1 {
    margin: 0 0 7px !important;
    font-size: 17px !important;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .comment {
    font-size: 13px !important;
    margin: 0 !important;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .add-wish {
    margin-top: 25px !important;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  .type-2 .container .khung .swiper-container {
    margin-left: 90px;
    margin-right: 103px;
    margin-top: 125px;
    margin-bottom: 80px;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .type-2 .container .khung .swiper-container {
    margin-left: 140px;
    margin-right: 160px;
    margin-top: 125px;
    margin-bottom: 80px;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  .type-2 .container .khung .swiper-container {
    margin-left: 174px;
    margin-right: 224px;
    margin-top: 125px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .type-2 .container .khung {
    width: 700px;
    height: auto;
    position: relative;
  }
  .type-2 .container .khung .swiper-container {
    width: 100%;
    margin-left: 25px;
    margin-right: 64px;
    margin-top: 125px;
    margin-bottom: 80px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide {
    margin-top: 20px;
    font-size: 14px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text {
    top: 85% !important;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .iner .text .out-text {
    margin-top: 6px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .title {
    font-size: 13px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .add-to-cart {
    width: 68%;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo .title .price-lon .price {
    padding-top: 4px;
  }
  .type-2 .container .khung .swiper-container .swiper-slide .vo:hover .title .price-lon .add-to-cart {
    opacity: 1;
    transform: translateX(107px);
    transition: 0.4s ease;
  }
  .type-2 .container .khung .swiper-container .nut {
    position: absolute;
    right: 0;
    top: 1px;
  }
  .type-2 .container .khung .swiper-container .nut .swiper-button-next {
    top: 7px;
    font-size: 25px;
    right: 6px;
  }
  .type-2 .container .khung .swiper-container .nut .swiper-button-prev {
    top: 7px;
    font-size: 25px;
    right: 21px;
  }
  .type-2 .container .khung .thongtin {
    font-size: 14px;
  }
  .type-2 .container .khung .thongtin .lopcontent {
    height: 90%;
    top: 25px;
    background-size: cover;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuaanh {
    width: 100%;
    height: 40%;
    background-size: cover;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuaanh img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuaanh .new1 {
    right: 1px;
    left: 81%;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuaanh .sale1 {
    right: 0;
    left: 81%;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc {
    width: 100%;
    height: 50%;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .closebtn {
    top: -2px;
    right: 2px;
    font-size: 17px;
    opacity: 0;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .closebtn:hover {
    opacity: 1;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung {
    font-size: 14px;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row {
    margin: 2%;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row h2 {
    font-size: 20px;
    margin: 0px;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .giatien1 {
    font-size: 14px;
    margin: 0 0 7px;
    font-size: 17px;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .comment {
    font-size: 13px;
    margin: 0;
  }
  .type-2 .container .khung .thongtin .lopcontent .chuatintuc .noidung .row .price1 .add-wish {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1099px) {
  .type-2 .container .khung .swiper-container {
    margin-left: 135px;
    margin-right: 64px;
    margin-top: 125px;
    margin-bottom: 80px;
  }
}
