@media (min-width: 768px) {
  .type-4 {
    width: 100%;
    overflow: hidden;
  }
}
.type-4 .parallax {
  background-position: 148px;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  position: static;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
}
.type-4 .vc_col-sm-12 {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
}
.type-4 .wrap {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  max-width: 100%;
}
.type-4 .wrap img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.type-4 .vc_row-fluid {
  padding-top: 108px;
  padding-bottom: 100px;
  margin-bottom: 0;
  vertical-align: baseline;
  outline: 0;
}
.type-4 .vc_custom {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
}
.type-4 .wp_wrap {
  position: relative;
  margin: 0 auto;
  z-index: 20;
}
.type-4 .wp_wrap .title {
  font-size: 35px;
  color: #000000;
  font-family: Poppins, sans-serif;
  font-weight: 550;
  line-height: 1.2162em;
  display: block;
  margin: 0;
}
.type-4 .swiper-container {
  width: 100%;
  height: 100%;
}
.type-4 .swiper-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 27px 0 0;
  padding: 0 11%;
  color: #949494;
  font-size: 17px;
  line-height: 31px;
  font-family: Poppins, sans-serif;
}
.type-4 .athur h5 {
  margin: 31px 0 0;
  font-weight: 550;
  color: #000;
  font-size: 16px;
}
.hinh {
  width: 100%;
}
