@media (min-width: 768px) {
  .type-4 {
    width: 100%;
    overflow: hidden;
  }
}
.type-4 .parallax {
  background-image: url("../images/h3-parallax-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  overflow: hidden;
}
.type-4 .parallax .vc_col-sm-12 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.type-4 .parallax .wrap {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  max-width: 100%;
}
.type-4 .parallax .wrap img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  margin-top: 107px;
}
.type-4 .vc_row-fluid {
  padding-top: 108px;
  padding-bottom: 100px;
  margin-bottom: 0;
  vertical-align: baseline;
  outline: 0;
}
.type-4 .vc_row-fluid .vc_custom {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
}
.type-4 .vc_row-fluid .wp_wrap {
  position: relative;
  margin: 0 auto;
  z-index: 20;
}
.type-4 .vc_row-fluid .wp_wrap .title {
  font-size: 35px;
  color: #000000;
  font-family: Poppins, sans-serif;
  font-weight: 550;
  line-height: 1.2162em;
  display: block;
  margin: 0;
}
.type-4 .vc_row-fluid .swiper-container {
  width: 100%;
  height: 100%;
}
.type-4 .vc_row-fluid .swiper-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 27px 0 0;
  padding: 0 11%;
  color: #949494;
  font-size: 17px;
  line-height: 31px;
  font-family: Poppins, sans-serif;
}
.type-4 .vc_row-fluid .athur h5 {
  margin: 31px 0 0;
  font-weight: 550;
  color: #000;
  font-size: 16px;
}
.type-4 .hinh {
  width: 100%;
}
.type-4 .review {
  background-color: #edf1f4;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.type-4 .review .product {
  justify-content: center !important;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.type-4 .review .text-left {
  padding-right: 28px;
  vertical-align: top;
}
.type-4 .review .dola {
  text-decoration: none;
  font-size: 124px;
  color: #000;
  line-height: 1;
  font-weight: 500;
}
.type-4 .review .currency {
  margin-right: 3px;
  display: inline;
  font-size: 35px;
  vertical-align: top;
  position: relative;
  top: 12px;
}
.type-4 .review .text {
  padding: 0 12% 0 0 !important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}
.type-4 .review .text-right {
  padding-top: 5px;
  vertical-align: top;
}
.type-4 .review .brown {
  margin: 0 0 8px;
}
.type-4 .review .excerpt {
  font-size: 17px;
  line-height: 2em;
}
.type-4 .review .items {
  padding: 1% 0 0 30% !important;
}
.type-4 .review a {
  text-decoration: none;
  color: #000;
}
.type-4 .review a:hover {
  text-decoration: none;
  color: #000;
}
