.type-4 {
  position: relative;
  z-index: 2;
  margin-bottom: 300px;
  background-color: white;
}
@media (min-width: 768px) {
  .type-4 {
    width: 100%;
    overflow: hidden;
  }
}
.type-4 .parallax {
  background-image: url("../images/h3-parallax-1.jpg");
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  position: static;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
}
.type-4 .vc_col-sm-12 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.type-4 .wrap {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  max-width: 100%;
}
.type-4 .wrap img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.type-4 .vc_row-fluid {
  padding-top: 108px;
  padding-bottom: 100px;
  margin-bottom: 0;
  vertical-align: baseline;
  outline: 0;
}
.type-4 .vc_custom {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
}
.type-4 .wp_wrap {
  position: relative;
  margin: 0 auto;
  z-index: 20;
}
.type-4 .wp_wrap .title {
  font-size: 35px;
  color: #000000;
  font-family: Poppins, sans-serif;
  font-weight: 550;
  line-height: 1.2162em;
  display: block;
  margin: 0;
}
.type-4 .swiper-container {
  width: 100%;
  height: 100%;
}
.type-4 .swiper-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 27px 0 0;
  padding: 0 11%;
  color: #949494;
  font-size: 17px;
  line-height: 31px;
  font-family: Poppins, sans-serif;
}
.type-4 .athur h5 {
  margin: 31px 0 0;
  font-weight: 550;
  color: #000;
  font-size: 16px;
}
.type-4 .hinh {
  width: 100%;
}
.type-331 {
  padding-top: 108px;
  padding-bottom: 78px;
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.type-331 .text {
  margin-top: 23px;
  color: #949494;
}
.type-331 .textwidget:hover {
  color: #fff;
}
.type-331 a:hover {
  text-decoration: none;
}
.type-331 .icon {
  margin-top: 23px;
  color: #949494;
  font-size: 20px;
}
.type-331 .instagram {
  color: #fff;
}
.type-331 .fa-instagram {
  margin: 0px 20px;
}
.type-331 .fa-instagram:hover {
  color: #fff;
}
.type-331 .fa-facebook {
  margin: 0px 20px;
}
.type-331 .fa-vimeo:hover {
  color: #fff;
}
.type-331 .fa-twitter:hover {
  color: #fff;
}
.type-331 .fa-facebook:hover {
  color: #fff;
}
.type-331 .fa-tumblr:hover {
  color: #fff;
}
.type-331 .locate {
  color: #fff;
  font-weight: bold;
  margin-top: 0;
}
.type-331 .contact {
  color: #949494;
  margin-top: 19px;
}
.type-331 .hinh {
  width: 30%;
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.type-331 .trans {
  width: 100%;
  position: relative;
}
.type-331 .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}
.type-331 .trans:hover .hinh {
  opacity: 0.3;
}
.type-331 .trans:hover .middle {
  opacity: 1;
}
.type-331 .top {
  margin-top: 2%;
}
